* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */


:root {
  --primary-purple: #8a307f;
  --primary-soft: #79a7d3;
  --light-blue: blue;
  --basic-green: green;
  --basic-black: #333;

}

*{
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 2.4rem;
  padding: 1vh 1vw 3vh;
  font-weight: 600;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 0.9;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}



/*----------- Icons-----------*/

.icon {
  font-size: 30px;
  padding: 2vh 2vw;
}

.menu-bts {
  color: white;
}

.list-bts {
  color: #333;
}


/*----------- Menu-----------*/


header {
  width: 100vw;
  height: 80px;
  background: rgb(138,48,127);
  background: linear-gradient(28deg, rgba(138,48,127,1) 8%, rgba(121,167,211,1) 62%, rgba(104,131,188,1) 100%); 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

button.menu-bts {
  background-color: transparent;
}

.list-task {
    
  }

.task {
   
}
 
.card {
    padding: 2vh 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.picture-card img {
    width: 350px;
    margin: 2vh auto;
}

.btn-card {
    display: flex;
    flex-direction: row;
}

.btn-card button, .btn-card a {
    width: 150px;
    margin: 1vh 1vw;
    padding: 2vh 1vw ;
    border-radius: 5px;

}

/*----------- Sections-----------*/
.sections {
  padding: 12.5vh 5vw;
}

/*----------- Add task Form-----------*/

.add-form {
    padding: 1vh 1vw; 
}
.add-form h3 {
  text-align: center;
  font-weight: 700;
  color: #6883bc;
}
.add-form form{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    border: 0.2px solid #6883bc;
    margin: 2vh auto;
    border-radius: 3px;
}
label {
    padding: 1vh 1vw;
}
input {
    padding: 2vh 2vw;
    background-color: #79a7d3;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin: 1vh 1vw;
}
input[type="textarea"] {
    height: 80px;
}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    padding: 2vh 2vw;
    color:white
}
.add-form button {
    margin: 4vh auto 2vh;
    padding: 2vh 1vw;
    width: 250px;
    background-color: #8a307f;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

/*----------- Search Bar-----------*/

.search-bar {
    padding: 2vh 1vw;
    margin: 2vh auto;
    background-color: blue;
}

.search-bar input {
    width: 300px;
}

.sort-btn {
    width: 250px;
    margin: 1vh auto 2vh;
    padding: 2vh 1vw;
    background-color: #999
}
.sort-btn:hover {
    background-color: green;
}

@media (min-width: 568px){
    section.card {
        width: calc(50% - var(--main-gap) / 2);
      }
}
  
@media (min-width: 1024px) {
    section.card {
      width: calc(33.33% - var(--main-gap)*2 / 3);
    }
}

  @media (min-width: 1300px) {
    section.card {
      width: calc(25% - var(--main-gap)*3 / 4);
    }


.list-task {
  display: grid;
  grid-gap:0;
  grid-template-columns: 550px 550px;
  justify-content: center;
  padding: 4vh 2vw;
  margin: 4vh 2vw;
  background-color: beige;
}

.task {
  border: 1px solid #333;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh 2vw;
  width: 500px;
}
  }
