* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */


:root {
  --primary-yellow: #FFED00;
  --primary-red: #E3000B;
  --light-blue: blue;
  --basic-green: green;
  --basic-black: #333;

}

*{
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 2.4rem;
  padding: 1vh 1vw 3vh;
  font-weight: 600;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 0.9;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: 'Russo One', sans-serif;
  color: blue;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 200;
  font-family: 'Russo One', sans-serif;
  color: var(--basic-black);
  margin-bottom: 0px;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

.main-bar {
    display: flex;
    flex-direction: row;
}

.list-task {
    display: grid;
    grid-gap:0;
    grid-template-columns: 550px 550px;
    justify-content: center;
    padding: 4vh 2vw;
    margin: 4vh 2vw;
    background-color: beige;
  }

.task {
    border: 1px solid #333;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vh 2vw;
    width: 500px;
}
 
.card {
    padding: 2vh 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.picture-card img {
    width: 350px;
    margin: 2vh auto;
}

.btn-card {
    display: flex;
    flex-direction: row;
}

.btn-card button, .btn-card a {
    width: 150px;
    margin: 1vh 1vw;
    padding: 2vh 1vw ;
    border-radius: 5px;

}
/*----------- Main Bar-----------*/

main-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*----------- Add task Form-----------*/

.add-form {
    background-color: red;
    padding: 4vh 2vw;
}

.add-form form{
    display: flex;
    flex-direction: column;
}

label {
    padding: 2vh 1vw;
    font-size: 1.2rem;
}

input {
    padding: 2vh 1vw;
}
input[type="textarea"] {
    height: 50px;
}

input::placeholder {
    font-weight: bold;
    opacity: .5;
    padding: 2vh 1vw;
}
.add-form button {
    margin: 4vh auto 2vh;
    padding: 2vh 1vw;
    width: 250px;
}

/*----------- Search Bar-----------*/

.search-bar {
    padding: 2vh 1vw;
    margin: 2vh auto;
    background-color: blue;
}

.search-bar input {
    width: 300px;
}

.sort-btn {
    width: 250px;
    margin: 1vh auto 2vh;
    padding: 2vh 1vw;
    background-color: #999
}
.sort-btn:hover {
    background-color: green;
}




@media (min-width: 568px){
    section.card {
        width: calc(50% - var(--main-gap) / 2);
      }
}
  
@media (min-width: 1024px) {
    section.card {
      width: calc(33.33% - var(--main-gap)*2 / 3);
    }
}

  @media (min-width: 1300px) {
    section.card {
      width: calc(25% - var(--main-gap)*3 / 4);
    }
  }
